/**Estilos predeterminados

**/
* {
    box-sizing: border-box;
}

body {
    background-color: #eaebe0;
    font-family: nunito;
    color: #202020;
    margin: 0%;
    width: 100vw;
    height: 100vh;
}

main {
    margin-top: 200px;
    align-self: center;
}

a {
    text-decoration: none;
    color: #202020;
    align-content: center;
}

li {
    list-style: none;
}
/**Estilos para la barra de navegacion**/
h1{
    display: inline-block;
    margin: 0.5rem;
    font-size: 60px;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dbdbd5;
    box-shadow: 15px 5px 10px #48529944;
}

nav {
    display: flex;
    justify-content: center;
}

.nav_bar {
    display: flex;
    padding-left: 0;
    font-size: 1.5rem;
    justify-content: space-around;
    width: 50%;
    margin: 0;
}

.contenedor_usuario {
    display: flex;
    position: fixed;
    right: 5%;
    top: 5%;
    text-align: center;
    width: 200px;
    justify-content: space-around;
}

.sesion_usuario { 
    font-size: 1.2rem;
}
.icono_sesion {
    width: 32px;
    height: 32px;
}
/**Estilo para items (ropa)**/
.contenedor_ropa {
    justify-content: space-evenly;
    display: flex;
}

.items {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 15px 5px 10px #00000044;
}

.comprar {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #dbdbd5;
    border: solid 1px #000000;
    border-radius: 8px;
    box-shadow: 15px 5px 10px #00000044;
    box-sizing: border-box;
}

.sub_contenedor-ropa {
    text-align: center;
}
.div_comprar {
 width: 100px;
 height: 100px;
}


.boton_comprar {
    font-family: nunito;
    border-radius: 8px;
    padding: 2px;
    color: #ffffff;
    border: solid 2px #000000;
    box-shadow: 15px 5px 10px #00000044;
    width: 120px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #43c063;
}

.boton_eliminar {
    font-family: nunito;
    margin: 10px;
    border-radius: 12px;
    padding: 8px;
    background-color: #e7dbdb;
}

/**Estilo para formulario de inicio de sesion**/
.panel_sesion {
    display: none;
}

.form_inicio-sesion {
    display: flex;
    flex-direction: column;
    width: 300px;
    height:300px;
    position: relative;
    margin: auto;
    justify-content: center;
}

.contenedor_form {
    position: absolute;
    background-color: #202020cb;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.inputs {
    font-family: nunito;
    width: 400px;
    height: 30px;
    padding: 0%;
    border: 1px solid #111111;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 5%;
}

.carrito {
    display: none;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #7e7a7a;
    background-color: #1a191931;
    box-shadow: 15px 5px 10px #00000044;
    position: absolute;
    top: 50px;
}

.seccion_parrafo {
    width: 70vw;
    text-align: center;
    margin: auto;
}

#lista_carrito {
    padding: 0;
}

#finalizar_compra {
    color: #ecece4;
    width: 100%;
    height: 25px;
    border: 1px solid #000000;
    border-radius: 12px;
    background-color: #43c063;
}